@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url('http://themes.googleusercontent.com/static/fonts/robotoslab/v3/dazS1PrQQuCxC3iOAJFEJfR_54zmj3SbGZQh3vCOwvY.woff') format('woff');
}

*{
	margin: 0;
	padding: 0;
	box-shadow: border-box;
}
html{
	background-color: hsl(213, 11%, 19%);
	font-size: 62.5%;
}
body{
	font-family: 'Helvetica Neue';
	font-weight: 200;
	color: #eef;
}
h1, h2, h3, h4, h5, h6{	
	font-weight: 200;
}
h1{
	font-family: 'Roboto Slab';
	font-size: 2.8rem;
	padding: .75em 1rem;
	text-align: center;
}
a{
	color: hsl(230, 50%, 70%);
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

section{
	background-color: hsl(213, 11%, 15%);
	padding: 3em;
	margin-bottom: .5em;
}

#poll{}
	.restaurant{
		border-color: hsl(20, 100%, 70%);
		border-style: solid;
		border-width: 1px 0 0;
		position: relative;
		height: 1.75em;
		font-size: 2rem;
		width: 600px;
		margin: 0 auto 1.5em;
	}
	.restaurant:last-of-type{
		margin-bottom: 0;
	}
		.restaurant h2{
			position: absolute;
			bottom: 0;
			font-size: 1.2em;
			line-height: 1;
		}
		.title{
			left: 3.5rem;
			font-weight: 100;
		}
		.bar_frame{
			position: absolute;
			height: .3em;
			top: 0;
			left: 3.5rem;
			right: 0;
		}
		.bar{
			background-color: hsl(20, 100%, 70%);
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
		}
		.restaurant h2{
			display: inline-block;
		}